#event-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    height: 85vh;
    background: linear-gradient(to bottom,#1A0D29, #2b0f37, #5b124d,#DA70D6,#fff);
    
  }
  .slider-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden; 
    background: rgba(0,0,0,0);
    padding: 30px;
    position: relative;
  }


  .gallery-heading{
    color: white;
    font-size: 2.88rem;
    font-weight: 600;
    
}

.slider-track {
    display: flex;
    animation: scroll 15s linear infinite;
    translate: 0 -40px;
  }

  .slider-track img {
    width: 300px; 
    height: auto;
    margin: 0 5px;
    transition: transform 1s, z-index 0s 1s; 
  }

  .slider-track img:hover {
    transform: scale(1.05) translateZ(50px); 
    z-index: 10; 
    transition: transform 1s, z-index 0s; 
  }

  .slider-track:hover {
    animation-play-state: paused;
    padding: 0 20px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .slider-track::after {
    content: '';
    display: flex;
    flex-shrink: 0;
  }

#carousel-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.carousel-dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 20px;
    background-color: #b3b3b3;
}

.carousel-dot-active{
    background-color: #489FB5 !important;
}